<div layout="row" layout-align="center center">
	<h3>Nome da Tela</h3>
	<span flex></span>

	<md-button class="default-primary-color md-fab md-mini" aria-label="Eat cake" ng-click="trocaCoracao()">
		<md-icon id="icnFavorite" aria-label="Favorite" md-svg-icon="{{iconFavorite}}"></md-icon>
	</md-button>

	<md-button class="default-primary-color md-fab md-mini" aria-label="Eat cake">
		<md-icon md-svg-src="app/img/icons/ic_developer_board_white_48px.svg"></md-icon>
	</md-button>
</div>

<div id="telaHome" flex >
	<div class="md-padding">
		dsfasdf<br>
		dsfasdf<br>
		dsfasdf<br>
		dsfasdf<br>
		dsfasdf<br>
	</div>
</div>